.calculator-options {
    min-width: 200px;
}

a.badge, a.badge:hover {
    outline: none;
    text-decoration: none;
}

@media (max-width: 700px) {
    .form {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%!important;
    }

    .calculator-options-container {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%!important;
        flex-direction: column!important;
    }

    .result {
        padding-left: 5%;
        padding-right: 5%;
        width: 100%!important;
    }
}
